body {
  width: 260px;
  height: 134px;
}

.popupHeader {
  font-size: 20px;
}

#borderColorPicker {
  width: 36px;
  height: 24px;
}

label {
  font-size: 16px;
}

.borderColorPickerContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.copyIconCheckboxContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.keyboardShortcut {
  background-color: gray;
  color: white;
  padding: 2px 3px 4px;
  border-radius: 3px;
}

.separator {
  margin: 8px 0;
  border-top: 1px solid #ccc;
}
